.Rproj.user
.Rhistory
.RData
.Ruserdata
Bases de datos consolidadas.zip
base_total.csv
base_total2.csv
nuevasBD.RData
Análisis Febrero/BD_Separadas.RData
Análisis Febrero/BD_unidas.RData
Análisis Febrero/BDs_Finales.RData
