.Rproj.user
.Rhistory
.RData
.Ruserdata
Bases de datos consolidadas.zip
base_total.csv
base_total2.csv
nuevasBD.RData
Análisis Febrero/BD_Separadas.RData
Análisis Febrero/BD_unidas.RData
Análisis Febrero/BDs_Finales.RData

Analisis_Marzo/BD_Separadas.RData
Analisis_Marzo/BD_unidas.RData
Analisis_Marzo/BDs_Finales.RData
Analisis_Marzo/BDs_var.RData
Análisis Febrero/sum.tot_coef_logit.png
Análisis Febrero/Preguntas_cerradas_para_estudiantes_universitarios.pdf
Análisis Febrero/sum.tot_coef_logit.png
